/* Layout geral e contêiner principal */
.wrapper {
  width: 95%;
  margin: 0 auto;
}

/* Estilos do banner */
.banner-product {
  width: 30%;
  height: auto;
  display: block;
  margin: 0 auto;
}

#search-container {
  margin: 1em 0;
}

#search-container input {
  background-color: transparent;
  width: 40%;
  border-bottom: 2px solid #110f29;
  padding: 1em 0.3em;
}

#search-container input:focus {
  border-bottom-color: #6759ff;
}

#search-container button {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #6759ff;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 0.5em;
}

.button-value {
  border: 2px solid #6759ff;
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: transparent;
  color: #6759ff;
  cursor: pointer;
}

.actives {
  background-color: #6759ff;
  color: #ffffff;
}

.product-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(20%), 1fr));
  grid-gap: 1.5em;
  padding: 2em 0;
}

/* Estilos responsivos para telas menores */
@media screen and (max-width: 720px) {
  .product-section {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
  }

  .card {
    max-width: calc(50% - 1em);
    margin-top: 1em;
  }
}

/* Estilos do card de produto */
.card {
  background-color: #ffffff;
  max-width: 100%;
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}

/* Estilos da imagem no card */
.image-container {
  text-align: center;
}

img {
  max-width: 100%;
  object-fit: contain;
  height: 10em;
}

/* Estilos do conteúdo no card */
.container {
  padding-top: 1em;
  color: #110f29;
}

/* Estilos de ocultação */
.hide {
  display: none;
}

/* Estilos dos botões no card */
.buttons-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
}

.buttons-container button {
  background-color: #6759ff;
  color: #ffffff;
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons-container button i {
  margin-right: 0.5em;
}

.buttons-container button:hover {
  background-color: #5246cc;
}

/* Estilos de interação no hover */
.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.container h5 {
  margin-bottom: 0.5em;
}

.container p {
  margin-bottom: 0.5em;
}

.container h6 {
  margin-bottom: 1em;
}