/* Estilo para o título principal */
.logo img {
  width: 30%;
  /* Defina a largura desejada */
  height: auto;
  /* A altura ajusta automaticamente de acordo com a largura */
  display: block;
  /* Remove espaços extras ao redor da imagem */
  margin: 0 auto;
  /* Centraliza horizontalmente */

}

.ftco-services .services .icon span {
  font-size: 70px;
  color: #000000;
}

.ftco-services .services {
  display: block;
  width: 100%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.ftco-services .services .icon {
  line-height: 1.3;
  position: relative;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.title h1 {
  font-size: 36px;
  font-weight: bold;
}

.subtitle {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  border-color: #675bef;

}


/* Estilo para o rodapé */
.footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 20px;
}

h2 {
  color: #000;
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin: 30px 0 60px;
}

h2::after {
  content: "";
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 4px;
  border-radius: 1px;
  background: #675bef;
  left: 0;
  right: 0;
  bottom: -20px;
}

.carousel {
  margin: 50px auto;
  padding: 0 70px;
}

.carousel .item {
  color: #747d89;
  min-height: 325px;
  text-align: center;
  overflow: hidden;
}

.carousel .thumb-wrapper {
  padding: 25px 15px;
  background: #fff;
  border-radius: 6px;
  text-align: center;
  position: relative;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.carousel .item .img-box {
  height: 120px;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}

.carousel .item img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.carousel .item h4 {
  font-size: 18px;
}

.carousel .item h4,
.carousel .item p,
.carousel .item ul {
  margin-bottom: 5px;
}

.carousel .thumb-content .btn {
  color: #675bef;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  background: none;
  border: 1px solid #675bef;
  padding: 6px 14px;
  margin-top: 5px;
  line-height: 16px;
  border-radius: 20px;
}

.carousel .thumb-content .btn:hover,
.carousel .thumb-content .btn:focus {
  color: #fff;
  background: #675bef;
  box-shadow: none;
}

.carousel .thumb-content .btn i {
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
}

.carousel .item-price {
  font-size: 13px;
  padding: 2px 0;
}

.carousel .item-price strike {
  opacity: 0.7;
  margin-right: 5px;
}

.carousel-control-prev,
.carousel-control-next {
  height: 44px;
  width: 40px;
  background: #675bef;
  margin: auto 0;
  border-radius: 4px;
  opacity: 0.8;
  border-color: #000;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background: #384c9e;
  opacity: 1;
}

.carousel-control-prev i,
.carousel-control-next i {
  font-size: 36px;
  position: absolute;
  top: 50%;
  display: inline-block;
  margin: -19px 0 0 0;
  z-index: 5;
  left: 0;
  right: 0;
  color: #fff;
  text-shadow: none;
  font-weight: bold;
}

.carousel-control-prev i {
  margin-left: -2px;
}

.carousel-control-next i {
  margin-right: -4px;
}

.carousel-indicators {
  bottom: -50px;
}

.carousel-indicators li,
.carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 50%;
  border: none;
}

.carousel-indicators li {
  background: rgba(0, 0, 0, 0.2);
}

.carousel-indicators li.active {
  background: rgba(0, 0, 0, 0.6);
}

.carousel .wish-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 99;
  cursor: pointer;
  font-size: 16px;
  color: #abb0b8;
}

.carousel .wish-icon .fa-heart {
  color: #ff6161;
}

.star-rating li {
  padding: 0;
}

.star-rating i {
  font-size: 14px;
  color: #ffc000;
}

.botao-conhecer {
  height: 100%;
  width: 100%;
  border-color: #000;
  background-color: #675bef;
  color: #fff;
}

.hr {
  font-weight: bold;
  width: 80%;
  height: 80%;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #000;
}

.ftco-product .owl-carousel .owl-stage-outer {
  padding-bottom: 2em;
  position: relative;
}

.product {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
  z-index: 0;
  background: #fff;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 991.98px) {
  .product {
    margin-bottom: 30px;
  }
}

.product .img-prod {
  position: relative;
  display: block;
  overflow: hidden;
  -webkit-box-shadow: inset 0px 0px 101px 21px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: inset 0px 0px 101px 21px rgba(0, 0, 0, 0.09);
  box-shadow: inset 0px 0px 101px 21px rgba(0, 0, 0, 0.09);
  background: #fff;
  z-index: 1;
}

.product .img-prod .overlay {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: 0;
  z-index: -1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #dbcc8f;
  width: 230px;
  height: 230px;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product .img-prod span.status {
  padding: 10px 1px;
  color: #000000;
  font-weight: 400;
  background: #675bef;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  text-orientation: sideways;
  text-align: right;
  text-orientation: sideways;
  margin: 0rem;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  z-index: 1;
}

.product .img-prod img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.product .img {
  display: block;
  height: 500px;
}

.product .icon {
  width: 60px;
  height: 60px;
  background: #fff;
  opacity: 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product .icon span {
  color: #000000;
}

.product:hover .icon {
  opacity: 1;
}

.product:hover .img-prod .overlay {
  opacity: 1;
}

.product .text {
  position: relative;
  width: 100%;
}

.product .text h3 {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 700;
  text-transform: uppercase;
}

.product .text h3 a {
  color: #000000;
}

.product .text p.price {
  margin-bottom: 0;
  color: #000000;
  font-weight: 400;
}

.product .text p.price span.price-dc {
  text-decoration: line-through;
  color: #b3b3b3;
}

.product .text p.price span.price-sale {
  color: #000000;
}

.product .text .cat,
.product .text .rating {
  width: 50%;
}

.product .text .cat span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.3);
}

.product .text .bottom-area {
  position: absolute;
  top: -65px;
  left: 0;
  right: 0;
  opacity: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}

.product .text .bottom-area a {
  color: #000000;
  width: 100%;
  background: #fff;
}

.product .text .bottom-area a.add-to-cart,
.product .text .bottom-area a.buy-now {
  font-size: 13px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 300;
}

.product .text .bottom-area a.add-to-cart i,
.product .text .bottom-area a.buy-now i {
  font-size: 16px;
}

.product .text .bottom-area a.add-to-cart {
  background: #000000;
  color: #fff;
}

.product .text .bottom-area a.add-to-cart:hover {
  background: #dbcc8f;
  color: #fff;
}

.product .text .bottom-area a.buy-now {
  background: #fff;
  color: #000000;
}

.product .text .bottom-area a.buy-now:hover {
  background: #675bef;
  color: #fff;
}

@media (max-width: 991.98px) {
  .product .text .bottom-area {
    opacity: 1;
  }
}

.product:hover {
  -webkit-box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 7px 15px -5px rgba(0, 0, 0, 0.07);
}

.product:hover .text .bottom-area {
  opacity: 1;
}

.product:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.prod-img-bg {
  background: #fff;
  -webkit-box-shadow: inset 0px 0px 101px 21px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: inset 0px 0px 101px 21px rgba(0, 0, 0, 0.09);
  box-shadow: inset 0px 0px 101px 21px rgba(0, 0, 0, 0.09);
  height: 100%;
  display: block;
}

.product-details h3 {
  font-size: 30px;
  font-weight: 400;
}

.product-details .price span {
  font-size: 30px;
  color: #000000;
}

.product-details button i {
  color: #000000;
}

.product-details .quantity-left-minus {
  background: transparent;
  padding: 0 15px;
}

.product-details .quantity-right-plus {
  background: transparent;
  padding: 0 15px;
}

.product-details button,
.product-details .form-control {
  height: 40px !important;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  color: #675bef;
  padding: 10px 20px;
  background: transparent !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  font-size: 14px;
}

.product-details button:hover,
.product-details button:focus,
.product-details .form-control:hover,
.product-details .form-control:focus {
  text-decoration: none;
  outline: none;
}

.product-details .form-group {
  position: relative;
}

.product-details .form-group .form-control {
  padding-right: 40px;
  color: #000000;
  background: transparent !important;
}

.product-details .form-group .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #4d4d4d;
}

.product-details .form-group .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #4d4d4d;
}

.product-details .form-group .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #4d4d4d;
}

.product-details .form-group .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #4d4d4d;
}

.product-details .form-group .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 14px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #000000;
}

.product-details .form-group .icon span {
  color: #000000;
}

@media (max-width: 767.98px) {
  .product-details .form-group .icon {
    right: 10px;
  }
}

.product-details .form-group .select-wrap {
  position: relative;
}

.product-details .form-group .select-wrap select {
  font-size: 13px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.blockquote-footer {
  display: block;
  font-size: 80%;
  color: #6c757d;
}

.blockquote-footer::before {
  content: "\2014\00A0";
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  -ms-transform: translate(0, -50px);
  transform: translate(0, -50px);
}

@media (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

.modal.show .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.modal-dialog-scrollable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: calc(100% - 1rem);
}

.modal-dialog-scrollable .modal-content {
  max-height: calc(100vh - 1rem);
  overflow: hidden;
}

.modal-dialog-scrollable .modal-header,
.modal-dialog-scrollable .modal-footer {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.modal-dialog-scrollable .modal-body {
  overflow-y: auto;
}

.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - 1rem);
  content: "";
}

.modal-dialog-centered.modal-dialog-scrollable {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
  max-height: none;
}

.modal-dialog-centered.modal-dialog-scrollable::before {
  content: none;
}

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.show {
  opacity: 0.5;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.modal-header .close {
  padding: 1rem 1rem;
  margin: -1rem -1rem -1rem auto;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal-body {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.modal-footer> :not(:first-child) {
  margin-left: .25rem;
}

.modal-footer> :not(:last-child) {
  margin-right: .25rem;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }

  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);
  }

  .modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 3.5rem);
  }

  .modal-dialog-centered {
    min-height: calc(100% - 3.5rem);
  }

  .modal-dialog-centered::before {
    height: calc(100vh - 3.5rem);
  }

  .modal-sm {
    max-width: 300px;
  }
}

@media (min-width: 992px) {

  .modal-lg,
  .modal-xl {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .modal-xl {
    max-width: 1140px;
  }
}

.ftco-footer {
  font-size: 14px;
  padding: 7em 0;
  color: rgba(255, 255, 255, 0.8);
  background: #4e4e4e;
  background: #000000;
}

.ftco-footer .ftco-footer-logo {
  text-transform: uppercase;
  letter-spacing: .1em;
}

.ftco-footer .ftco-footer-widget h2 {
  font-weight: normal;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
}

.ftco-footer .ftco-footer-widget ul li {
  font-size: 14px;
  margin-bottom: 0px;
}

.ftco-footer .ftco-footer-widget ul li a {
  color: rgba(255, 255, 255, 0.8);
}

.ftco-footer .ftco-footer-widget .btn-primary {
  border: 2px solid #fff !important;
}

.ftco-footer .ftco-footer-widget .btn-primary:hover {
  border: 2px solid #fff !important;
}

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block;
}

.ftco-footer-social li a {
  height: 50px;
  width: 50px;
  display: block;
  float: left;
  background: #675bef;
  border-radius: 50%;
  position: relative;
}

.ftco-footer-social li a span {
  position: absolute;
  font-size: 26px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
}

.ftco-footer-social li a:hover {
  color: #000000;
}

#map {
  width: 100%;
}

@media (max-width: 991.98px) {
  #map {
    height: 300px;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(219, 204, 143, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 30px rgba(219, 204, 143, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(219, 204, 143, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(219, 204, 143, 0.4);
    -webkit-box-shadow: 0 0 0 0 rgba(219, 204, 143, 0.4);
    box-shadow: 0 0 0 0 rgba(219, 204, 143, 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 30px rgba(219, 204, 143, 0);
    -webkit-box-shadow: 0 0 0 30px rgba(219, 204, 143, 0);
    box-shadow: 0 0 0 30px rgba(219, 204, 143, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(219, 204, 143, 0);
    -webkit-box-shadow: 0 0 0 0 rgba(219, 204, 143, 0);
    box-shadow: 0 0 0 0 rgba(219, 204, 143, 0);
  }
}

#ftco-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s ease-out, visibility 0s linear .2s;
  -o-transition: opacity .2s ease-out, visibility 0s linear .2s;
  transition: opacity .2s ease-out, visibility 0s linear .2s;
  z-index: 1000;
}

#ftco-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#ftco-loader.show {
  -webkit-transition: opacity .4s ease-out, visibility 0s linear 0s;
  -o-transition: opacity .4s ease-out, visibility 0s linear 0s;
  transition: opacity .4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#ftco-loader .circular {
  -webkit-animation: loader-rotate 2s linear infinite;
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

#ftco-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: loader-dash 1.5s ease-in-out infinite;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@-webkit-keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader-rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

.mouse {
  position: absolute;
  left: 0;
  right: 0;
  top: -30px;
  z-index: 99;
}

.mouse-icon {
  width: 60px;
  height: 60px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  position: relative;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.mouse-wheel {
  height: 30px;
  margin: 2px auto 0;
  display: block;
  width: 30px;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: 1.6s ease infinite wheel-up-down;
  -moz-animation: 1.6s ease infinite wheel-up-down;
  animation: 1.6s ease infinite wheel-up-down;
  color: #000000;
  font-size: 20px;
}

@-webkit-keyframes wheel-up-down {
  100% {
    margin-top: 2px;
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  0% {
    margin-top: 20px;
    opacity: 0;
  }
}

@-moz-keyframes wheel-up-down {
  100% {
    margin-top: 2px;
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  0% {
    margin-top: 20px;
    opacity: 0;
  }
}

@keyframes wheel-up-down {
  100% {
    margin-top: 2px;
    opacity: 1;
  }

  30% {
    opacity: 1;
  }

  0% {
    margin-top: 20px;
    opacity: 0;
  }
}

    /* Estilo para o título principal */
    .logo img {
      width: 30%;
      /* Defina a largura desejada */
      height: auto;
      /* A altura ajusta automaticamente de acordo com a largura */
      display: block;
      /* Remove espaços extras ao redor da imagem */
      margin: 0 auto;
      /* Centraliza horizontalmente */

    }

    .title h1 {
      font-size: 36px;
      font-weight: bold;
    }

    .subtitle {
      text-align: center;
      font-size: 40px;
      font-weight: bold;
    }


    /* Estilo para o rodapé */
    .footer {
      background-color: #f8f9fa;
      text-align: center;
      padding: 20px;
    }

    h2 {
      color: #000;
      font-size: 26px;
      font-weight: 300;
      text-align: center;
      text-transform: uppercase;
      position: relative;
      margin: 30px 0 60px;
    }
    h2::after {
      content: "";
      width: 100px;
      position: absolute;
      margin: 0 auto;
      height: 4px;
      border-radius: 1px;
      background: #7ac400;
      left: 0;
      right: 0;
      bottom: -20px;
    }
    .carousel {
      margin: 50px auto;
      padding: 0 70px;
    }
    .carousel .item {
      color: #747d89;
      min-height: 325px;
      text-align: center;
      overflow: hidden;
    }
    .carousel .thumb-wrapper {
      padding: 25px 15px;
      background: #fff;
      border-radius: 6px;
      text-align: center;
      position: relative;
      box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    }
    .carousel .item .img-box {
      height: 120px;
      margin-bottom: 20px;
      width: 100%;
      position: relative;
    }
    .carousel .item img {	
      max-width: 100%;
      max-height: 100%;
      display: inline-block;
      position: absolute;
      bottom: 0;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
    .carousel .item h4 {
      font-size: 18px;
    }
    .carousel .item h4, .carousel .item p, .carousel .item ul {
      margin-bottom: 5px;
    }
    .carousel .thumb-content .btn {
      color: #7ac400;
      font-size: 11px;
      text-transform: uppercase;
      font-weight: bold;
      background: none;
      border: 1px solid #7ac400;
      padding: 6px 14px;
      margin-top: 5px;
      line-height: 16px;
      border-radius: 20px;
    }
    .carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
      color: #fff;
      background: #7ac400;
      box-shadow: none;
    }
    .carousel .thumb-content .btn i {
      font-size: 14px;
      font-weight: bold;
      margin-left: 5px;
    }
    .carousel .item-price {
      font-size: 13px;
      padding: 2px 0;
    }
    .carousel .item-price strike {
      opacity: 0.7;
      margin-right: 5px;
    }
    .carousel-control-prev, .carousel-control-next {
      height: 44px;
      width: 40px;
      background: #671af5;
      margin: auto 0;
      border-radius: 4px;
      opacity: 0.8;
    }
    .carousel-control-prev:hover, .carousel-control-next:hover {
      background: #671af5;
      opacity: 1;
    }
    .carousel-control-prev i, .carousel-control-next i {
      font-size: 36px;
      position: absolute;
      top: 50%;
      display: inline-block;
      margin: -19px 0 0 0;
      z-index: 5;
      left: 0;
      right: 0;
      color: #fff;
      text-shadow: none;
      font-weight: bold;
    }
    .carousel-control-prev i {
      margin-left: -2px;
    }
    .carousel-control-next i {
      margin-right: -4px;
    }		
    .carousel-indicators {
      bottom: -50px;
    }
    .carousel-indicators li, .carousel-indicators li.active {
      width: 10px;
      height: 10px;
      margin: 4px;
      border-radius: 50%;
      border: none;
    }
    .carousel-indicators li {	
      background: rgba(0, 0, 0, 0.2);
    }
    .carousel-indicators li.active {	
      background: rgba(0, 0, 0, 0.6);
    }
    .carousel .wish-icon {
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 99;
      cursor: pointer;
      font-size: 16px;
      color: #abb0b8;
    }
    .carousel .wish-icon .fa-heart {
      color: #ff6161;
    }
    .star-rating li {
      padding: 0;
    }
    .star-rating i {
      font-size: 14px;
      color: #ffc000;
    }
    
    .botao-conhecer {
      height: 100%;
      width: 100%;
    }

    .hr {
        font-weight: bold;
        width: 80%;
        height: 80%;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: #000;
    }
    