<!DOCTYPE html>
<html>
<head>
    <title>Formulário de Produto</title>
</head>
<body>
    <h1>Cadastro de Produto</h1>
    <form action="../model/inserir_produto.php" method="post" enctype="multipart/form-data">
        <label for="tipoProduto">Tipo do Produto:</label>
        <input type="text" name="tipoProduto" id="tipoProduto" required><br><br>
        
        <label for="nomeProduto">Nome do Produto:</label>
        <input type="text" name="nomeProduto" id="nomeProduto" required><br><br>
        
        <label for="imagemProduto">Imagem do Produto:</label>
        <input type="file" name="imagemProduto" id="imagemProduto" required><br><br>
        
        <label for="precoProduto">Preço do Produto:</label>
        <input type="text" name="precoProduto" id="precoProduto" required><br><br>
        
        <label for="especificacoesProduto">Especificações do Produto:</label>
        <textarea name="especificacoesProduto" id="especificacoesProduto" required></textarea><br><br>
        
        <input type="submit" value="Cadastrar Produto">
    </form>
</body>
</html>
