<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envio de Mensagem</title>
</head>
<body>
    <h1 style="font-size: 24px; text-align: center;">Enviar Mensagem Predefinida</h1>
    <form action="../model/enviar_email.php" method="post" style="text-align: center;">
        <button type="submit" style="padding: 10px 20px; background-color: #007BFF; color: #fff; border: none; cursor: pointer;">Enviar Mensagem</button>
    </form>
</body>
</html>
