<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link rel="stylesheet" href="../assets/css/style.css">

    <title> Login - Belchior </title>
</head>

<body>

    <div class="background">
        <div class="first-column">
            <img src="../assets/img/design_login.png" />
        </div>
        <div class="second-column">
            <div class="form">
                <form method="POST" action="../model/login.php">
                    <div class="tit">
                        <h1>Login</h1>
                    </div>

                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Digite Seu Email">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="senha" placeholder="Digite sua Senha">
                    <div class="links">
                        <a href="siginup_page.html">Não Possui Login?</a>
                        <a href="#">Esqueci a Senha</a>
                    </div>
                    <div class="button">
                        <button id="enviar">Entrar</button>
                        <h1>Outras Opções</h1>
                        <div class="icons">

                            <a><i class="devicon-facebook-plain"></i></a>
                            <a><i class="devicon-google-plain"></i></a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>

</body>

</html>